* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="registrar_artesano_files/u3_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="registrar_artesano_files/u7_original.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="registrar_artesano_files/u7_original.png");
}

* html .u91_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="registrar_artesano_files/u91_original.png");
}

* html .u94_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="registrar_artesano_files/u94_original.png");
}

* html .u99_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u99_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u101_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u101_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u103_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u103_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u105_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u105_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u107_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u107_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u109_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u109_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u112_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u112_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u115_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u115_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u118_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u120_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u120_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u122_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u124_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u126_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_hover.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_original.png");
}

* html .u128_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u131_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u131_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

