* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u11_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u16_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u16_original.png");
}

* html .u107_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u110_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u115_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u123_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u131_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u134_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u139_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u142_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u150_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u155_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u158_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u163_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u166_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u171_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u174_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u179_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u182_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u187_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u190_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u195_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u198_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u203_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u206_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u211_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u214_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u219_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u222_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u227_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u227_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u229_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u229_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u231_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u231_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u233_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u233_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u235_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u235_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u237_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u237_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u240_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u240_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u243_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u243_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u246_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u246_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u248_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u248_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u250_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u250_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u252_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u252_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u254_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_hover.png");
}

* html .u254_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_original.png");
}

* html .u256_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u256_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u259_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u259_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u312_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u315_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u320_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u323_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u328_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u331_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u336_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u339_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u344_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u347_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u352_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u355_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u360_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u363_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u368_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u371_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u376_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u379_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u384_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u107_original.png");
}

* html .u387_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u110_original.png");
}

* html .u412_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u412_original.png");
}

* html .u415_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="revision_trabajadores_files/u415_original.png");
}

