body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: --10px;
    width: 1044px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../resources/images/transparent.gif');
}

.u0_container {
    position:absolute;
    left:10px;
    top:776px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:776px;
    width:1024px;
    height:34px
}

.u3_container {
    position:absolute;
    left:-10px;
    top:28px;
    width:281px;
    height:116px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:116px;
}

.u4 {
    position:absolute;
    left:2px;
    top:50px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:-10px;
    top:28px;
    width:281px;
    height:116px
}

.u5_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u5_original {
    background-image: url('../header_files/u35_original.png');
}

.u5_container {
    position:absolute;
    left:370px;
    top:68px;
    width:100px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:370px;
    top:68px;
    width:100px;
    height:30px
}

.u7_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u7_original {
    background-image: url('../header_files/u35_original.png');
}

.u7_container {
    position:absolute;
    left:470px;
    top:68px;
    width:100px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:470px;
    top:68px;
    width:100px;
    height:30px
}

.u9_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u9_original {
    background-image: url('../header_files/u35_original.png');
}

.u9_container {
    position:absolute;
    left:570px;
    top:68px;
    width:100px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:570px;
    top:68px;
    width:100px;
    height:30px
}

.u11_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u11_original {
    background-image: url('../header_files/u35_original.png');
}

.u11_container {
    position:absolute;
    left:670px;
    top:68px;
    width:100px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:670px;
    top:68px;
    width:100px;
    height:30px
}

.u13_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u13_original {
    background-image: url('../header_files/u35_original.png');
}

.u13_container {
    position:absolute;
    left:770px;
    top:68px;
    width:100px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:770px;
    top:68px;
    width:100px;
    height:30px
}

.u15_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u15_original {
    background-image: url('../header_files/u35_original.png');
}

.u15_container {
    position:absolute;
    left:870px;
    top:68px;
    width:100px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:870px;
    top:68px;
    width:100px;
    height:30px
}

.u18_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u18_original {
    background-image: url('../header_files/u48_original.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u19 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

.u21_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u21_original {
    background-image: url('../header_files/u48_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u22 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

.u24_hover {
    background-image: url('../header_files/u54_hover.png');
}

.u24_original {
    background-image: url('../header_files/u54_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u25 {
    position:absolute;
    left:19px;
    top:8px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:30px
}

.u26_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u26_original {
    background-image: url('../header_files/u56_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:30px;
    width:200px;
    height:50px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u27 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:30px;
    width:200px;
    height:50px
}

.u28_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u28_original {
    background-image: url('../header_files/u56_original.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:80px;
    width:200px;
    height:50px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u29 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:0px;
    top:80px;
    width:200px;
    height:50px
}

.u30_hover {
    background-image: url('../header_files/u54_hover.png');
}

.u30_original {
    background-image: url('../header_files/u54_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:130px;
    width:200px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u31 {
    position:absolute;
    left:19px;
    top:8px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:130px;
    width:200px;
    height:30px
}

.u32_hover {
    background-image: url('../header_files/u62_hover.png');
}

.u32_original {
    background-image: url('../header_files/u62_original.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:160px;
    width:200px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u33 {
    position:absolute;
    left:19px;
    top:8px;
    width:170px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:0px;
    top:160px;
    width:200px;
    height:60px
}

.u34_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u34_original {
    background-image: url('../header_files/u56_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:220px;
    width:200px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u35 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:220px;
    width:200px;
    height:50px
}

.u37_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u37_original {
    background-image: url('../header_files/u48_original.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u38 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

.u40_original {
    background-image: url('../ver_usuario_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:58px;
    top:136px;
    width:122px;
    height:52px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:52px;
}

.u41 {
    position:absolute;
    left:2px;
    top:18px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:58px;
    top:136px;
    width:122px;
    height:52px
}

.u42 {
    position:absolute;
    left:50px;
    top:214px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:220px;
    top:214px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_original {
    background-image: url('../ver_usuario_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:50px;
    top:694px;
    width:103px;
    height:26px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:5px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:50px;
    top:694px;
    width:103px;
    height:26px
}

.u46_original {
    background-image: url('../ver_usuario_files/u44_original.png');
}

.u46_container {
    position:absolute;
    left:167px;
    top:694px;
    width:103px;
    height:26px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:32px;
}

.u47 {
    position:absolute;
    left:2px;
    top:5px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:167px;
    top:694px;
    width:103px;
    height:26px
}

.u48 {
    position:absolute;
    left:50px;
    top:249px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:220px;
    top:244px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:50px;
    top:287px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:220px;
    top:282px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:50px;
    top:321px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:50px;
    top:361px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:220px;
    top:321px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:220px;
    top:361px;
    width:160px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:16px;
    top:0px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:50px;
    top:395px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:16px;
    top:0px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:16px;
    top:0px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:16px;
    top:0px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:16px;
    top:0px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:0px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:16px;
    top:0px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:16px;
    top:0px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:16px;
    top:0px;
    width:149px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

