#calificacion{
	width:750px;
	margin: 0 auto;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	text-align:center;
	margin:0;
	font-size:23px;
}
h2{
	margin:0;
	font-size:15px;
}
h1.right{
	text-align: right;
	padding-right: 10px;
}
.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.imprimir.bottom{
	background: url("../img/icono_imprimir.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    left: 0;
    line-height: 62px;
    padding-bottom: 17px;
    padding-left: 55px;
    position: fixed;
    text-transform: uppercase;
    top: 50%;
    vertical-align: middle;
}