
/* scrollable root element */

#wizard {	
	font-size:12px;
	margin:0 auto;	
	padding-left: 0;
	padding-right:0;
	padding-bottom:10px;
	position:relative;
	min-height:500px;
	overflow: hidden; 
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
}

/* single item */
#wizard .page {	
	float:left;	
	clear:none;
}

/* title */
#wizard h2 {
	border-bottom:1px dotted #ccc;
	font-size:15px;
	font-weight:bold;
	margin:0;
	padding-bottom:0;
	padding-top:1em;
	float:none;		
}

#wizard h2 em {
	display:block;
	font-size:14px;
	color:#666;
	font-style:normal;
	margin-top:5px;
}
#wizard .form input, form textarea, form  date {
	float: left;
	width: 130px;
}
#wizard fieldset{
	padding: 0 10px 50px;
}
#wizard .radio fieldset{
	padding: 0;
	margin:0;
	height: 20px;
}
#wizard .radio fieldset label{
	padding: 0;
	margin:0;
	height: 20px;
	float:left;
	clear:none;
}
#wizard .radio fieldset input{
	padding: 0;
	margin:0;
	height: 20px;
	float:left;
	clear:left;
}
/*
#wizard select.date {
	padding: 0;
	height:20px;
	text-align: center;
	width: 54px;
	min-width:54px;
	-moz-box-shadow: 0 0 10px #eee inset;
	-webkit-box-shadow: 0 0 10px #eee inset;
}
*/
#wizard input.date{
	width: 6em;
}

form #wizard .datos-balance .input{
	float:none;
}
form #wizard  .input {
	float: left;
	width: auto;
}
form input[type=number], form input.valor, input.number {
	width: 6em;
}
form #TablaAprendices input[type=number].salarioAprendiz, form #TablaAprendices input[type=number].salarioOperarios,  form #TablaOperadores input[type=number].salarioAprendiz, form #TablaOperadores input[type=number].salarioOperarios{
	width: 4em;
}
#wizard  #TablaAprendices select, #wizard  #TablaOperadores select{
	min-width:100px;
	width:100px;
}
#wizard  #TablaAprendices select.selectCedula, #wizard  #TablaOperadores select.selectCedula{
	width:60px;
	min-width:60px;
	font-size:10px;
}
#wizard select{
	min-width:130px;
}
#wizard .validarCalificacion a{
	margin-top:25px;
	margin-left: 3px;
	display: block;
	float:left;
	color:white;
}
/* validation error message bar */
#drawer {
	background-color:#fff;
	overflow:visible;
	position:fixed;	
	left:0;
	top:0;
	text-align:center;
	padding:15px;
	font-size:18px;
	border-bottom:2px solid #789;
	width:100%;
	display:none;
	z-index:2;
}



#wizard #status {
	margin:0px !important;
}

#status li {
	list-style-type:none;
	list-style-image:none;
	float:left;
	color:#fff;
	padding:0 0;
	width:33.1%;
	text-align: center;
	background: #2047A0;
	font-size:15px;
	border:solid gray 1px;
	height: 38px;
}

#status li.active {
	background-color:#EFBC00;
	font-weight:bold;
	color:black;	
}

/*TABLES*/
#wizard table tr td, #wizard table tr th{
	height:24px;
}
table.balance{
	width:50%;
}
#wizard table.balance .total th{
	text-align: center;
}
#wizard table div.checkbox{
	width:70px;
}
#wizard table div.checkbox label {
    clear: none;
    display: block;
    float: left;
    margin-top: 0;
    font-weight: normal;
    font-size:10px;
}
#wizard table div.checkbox input {
	float:right;
}
/*END TABLES*/
#wizard .validar{
	visibility: hidden;	
	visibility: visible; /*ELIMINAR LINEA*/	
}
label[for=ArtesanoArtCedula]{
	visibility: hidden;
}