
/* scrollable root element */

#wizard {	
	font-size:12px;
	margin:0 auto;	
	padding-left: 0;
	padding-right:0;
	padding-bottom:10px;
	position:relative;
	min-height:500px;
	overflow: hidden; 
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
}

/* single item */
#wizard .page {	
	float:left;	
	clear:none;
}

/* title */
#wizard h2 {
	border-bottom:1px dotted #ccc;
	font-size:22px;
	font-weight:normal;
	margin:10px 0 0 0;
	padding-bottom:15px;		
}

#wizard h2 em {
	display:block;
	font-size:14px;
	color:#666;
	font-style:normal;
	margin-top:5px;
}



/* validation error message bar */
#drawer {
	background-color:#fff;
	overflow:visible;
	position:fixed;	
	left:0;
	top:0;
	text-align:center;
	padding:15px;
	font-size:18px;
	border-bottom:2px solid #789;
	width:100%;
	display:none;
	z-index:2;
}



#wizard #status {
	margin:0px !important;
}

#status li {
	list-style-type:none;
	list-style-image:none;
	float:left;
	color:#fff;
	padding:0 0;
	width:33.1%;
	text-align: center;
	background: #2047A0;
	font-size:15px;
	border:solid gray 1px;
	height: 38px;
}

#status li.active {
	background-color:#EFBC00;
	font-weight:bold;
	color:black;	
}