/* root element for tabs  */
ul.tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #666;
}
/* single tab */
ul.tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
/* link inside the tab. uses a background image */
ul.tabs a {
	float: left;
	font-size: 13px;
	display: block;
	padding: 5px 30px;
	text-decoration: none;
	border: 1px solid #666;
	border-bottom: 0px;
	height: 18px;
	background-color: #13498E;
	color: white;
	margin-right: 2px;
	position: relative;
	top: 1px;
	outline: 0;
	-moz-border-radius: 4px 4px 0 0;
}
ul.tabs a:hover {
	background-color: #95DCF4;
	color: white;
}
/* selected tab */
ul.tabs a.current {
	background-color: #0066FF;
	border-bottom: 1px solid #ddd;
	color: white;
	cursor: default;
}
/* tab pane */
.panes div {
	display: none;
	border: 1px solid #666;
	border-width: 0 1px 1px 1px;
	/* min-height:150px; */
	height: 600px;
	/* padding: 15px 20px; */
	background-color: #ddd;
}
/* iframes */
div.panes div iframe {
	height: 99.3%;
	width: 99.65%;
}

