* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u3_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="buscar_files/u39_original.png");
}

* html .u13_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_hover.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_original.png");
}

* html .u15_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_hover.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u15_original.png");
}

* html .u17_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u17_line.png");
}

* html .u18_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u18_line.png");
}

* html .u19_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u21_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u23_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u25_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u33_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u33_hover.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u33_original.png");
}

* html .u35_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u35_line.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u43_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u43_hover.png");
}

* html .u43_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u43_original.png");
}

* html .u45_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u45_line.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u52_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_hover.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_original.png");
}

* html .u54_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u13_hover.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u15_original.png");
}

* html .u56_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u56_line.png");
}

* html .u57_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u57_line.png");
}

* html .u58_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u71_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u71_hover.png");
}

* html .u71_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u71_original.png");
}

* html .u73_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u73_line.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u81_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u81_hover.png");
}

* html .u81_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u81_original.png");
}

* html .u83_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u83_line.png");
}

* html .u84_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u19_original.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u21_original.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u23_original.png");
}

* html .u90_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u90_original.png");
}

* html .u120_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u120_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u122_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u124_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u126_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u128_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u130_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u133_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u133_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u136_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u136_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u139_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u139_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u141_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u141_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u143_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u143_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u145_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u145_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u147_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_hover.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_original.png");
}

* html .u149_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u149_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u152_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u152_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u155_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="modulo_Artesanos_files/u155_original.png");
}

