* html .u5_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u5_line.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u6_line.png");
}

* html .u9_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u9_hover.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u9_original.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u11_line.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u12_original.png");
}

* html .u17_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u17_hover.png");
}

* html .u17_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u17_original.png");
}

* html .u19_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u19_line.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u12_original.png");
}

* html .u24_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u24_line.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u25_line.png");
}

* html .u27_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u27_hover.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u27_original.png");
}

* html .u29_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u29_line.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u12_original.png");
}

* html .u35_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u35_hover.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u35_original.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u37_line.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u12_original.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u42_original.png");
}

* html .u63_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u63_original.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u66_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u63_original.png");
}

* html .u75_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u66_original.png");
}

* html .u80_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u80_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u82_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u82_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u84_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u84_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u86_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u88_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u90_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u90_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u93_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u93_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u96_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u96_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u99_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u99_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u101_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u101_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u103_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u103_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u105_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u105_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u107_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_hover.png");
}

* html .u107_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_original.png");
}

* html .u109_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u109_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u112_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u112_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u115_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u115_original.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u118_original.png");
}

* html .u121_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="mis_inspecciones_files/u121_original.png");
}

