* html .u1_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_hover.png");
}

* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_original.png");
}

* html .u3_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_hover.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u3_original.png");
}

* html .u5_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u5_line.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u6_line.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u7_original.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u9_original.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u11_original.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u7_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u11_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u9_original.png");
}

* html .u21_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u21_hover.png");
}

* html .u21_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u21_original.png");
}

* html .u23_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u23_line.png");
}

* html .u27_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u27_hover.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u27_original.png");
}

* html .u29_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u29_line.png");
}

* html .u32_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_hover.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_original.png");
}

* html .u34_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u1_hover.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u3_original.png");
}

* html .u36_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u36_line.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u37_line.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u7_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u9_original.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u11_original.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u7_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u11_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u9_original.png");
}

* html .u51_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u51_hover.png");
}

* html .u51_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u51_original.png");
}

* html .u53_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u53_line.png");
}

* html .u57_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u57_hover.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u57_original.png");
}

* html .u59_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u59_line.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u62_original.png");
}

* html .u75_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resultado_de_la_busqueda_2_files/u75_original.png");
}

* html .u98_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u100_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u102_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u104_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u106_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u108_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_hover.png");
}

* html .u108_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u35_original.png");
}

* html .u111_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u111_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u114_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u114_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

* html .u117_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u117_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u119_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u119_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u121_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u121_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u123_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_hover.png");
}

* html .u123_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u54_original.png");
}

* html .u125_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_hover.png");
}

* html .u125_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u62_original.png");
}

* html .u127_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_hover.png");
}

* html .u127_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u56_original.png");
}

* html .u130_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_hover.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u48_original.png");
}

