body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../resources/images/transparent.gif');
}

.u0_container {
    position:absolute;
    left:0px;
    top:630px;
    width:1024px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:1020px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:630px;
    width:1024px;
    height:34px
}

.u3_hover {
    background-image: url('../pagina_de_inicio_files/u3_hover.png');
}

.u3_original {
    background-image: url('../pagina_de_inicio_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:40px;
    top:140px;
    width:942px;
    height:87px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:87px;
}

.u4 {
    position:absolute;
    left:2px;
    top:36px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:40px;
    top:140px;
    width:942px;
    height:87px
}

.u5 {
    position:absolute;
    left:320px;
    top:161px;
    width:540px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_hover {
    background-image: url('../pagina_de_inicio_files/u3_hover.png');
}

.u6_original {
    background-image: url('../pagina_de_inicio_files/u3_original.png');
}

.u6_container {
    position:absolute;
    left:40px;
    top:234px;
    width:942px;
    height:87px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:87px;
}

.u7 {
    position:absolute;
    left:2px;
    top:36px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:40px;
    top:234px;
    width:942px;
    height:87px
}

.u8 {
    position:absolute;
    left:320px;
    top:255px;
    width:540px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_hover {
    background-image: url('../pagina_de_inicio_files/u3_hover.png');
}

.u9_original {
    background-image: url('../pagina_de_inicio_files/u3_original.png');
}

.u9_container {
    position:absolute;
    left:40px;
    top:329px;
    width:942px;
    height:87px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:87px;
}

.u10 {
    position:absolute;
    left:2px;
    top:36px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:40px;
    top:329px;
    width:942px;
    height:87px
}

.u11 {
    position:absolute;
    left:320px;
    top:350px;
    width:540px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_hover {
    background-image: url('../pagina_de_inicio_files/u3_hover.png');
}

.u12_original {
    background-image: url('../pagina_de_inicio_files/u3_original.png');
}

.u12_container {
    position:absolute;
    left:40px;
    top:423px;
    width:942px;
    height:87px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:87px;
}

.u13 {
    position:absolute;
    left:2px;
    top:36px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:40px;
    top:423px;
    width:942px;
    height:87px
}

.u14 {
    position:absolute;
    left:320px;
    top:444px;
    width:540px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_hover {
    background-image: url('../pagina_de_inicio_files/u3_hover.png');
}

.u15_original {
    background-image: url('../pagina_de_inicio_files/u3_original.png');
}

.u15_container {
    position:absolute;
    left:40px;
    top:517px;
    width:942px;
    height:87px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:87px;
}

.u16 {
    position:absolute;
    left:2px;
    top:36px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:40px;
    top:517px;
    width:942px;
    height:87px
}

.u17 {
    position:absolute;
    left:320px;
    top:538px;
    width:540px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../pagina_de_inicio_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:75px;
    top:538px;
    width:45px;
    height:46px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:15px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:75px;
    top:538px;
    width:45px;
    height:46px
}

.u20 {
    position:absolute;
    left:140px;
    top:554px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../pagina_de_inicio_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:75px;
    top:450px;
    width:45px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:75px;
    top:450px;
    width:45px;
    height:36px
}

.u23 {
    position:absolute;
    left:140px;
    top:460px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../pagina_de_inicio_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:75px;
    top:353px;
    width:35px;
    height:46px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:15px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:75px;
    top:353px;
    width:35px;
    height:46px
}

.u26 {
    position:absolute;
    left:140px;
    top:363px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_original {
    background-image: url('../pagina_de_inicio_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:75px;
    top:258px;
    width:45px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:75px;
    top:258px;
    width:45px;
    height:36px
}

.u29 {
    position:absolute;
    left:140px;
    top:264px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../pagina_de_inicio_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:75px;
    top:157px;
    width:42px;
    height:43px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:75px;
    top:157px;
    width:42px;
    height:43px
}

.u32 {
    position:absolute;
    left:140px;
    top:173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:116px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:116px;
}

.u34 {
    position:absolute;
    left:2px;
    top:50px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:116px
}

.u35_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u35_original {
    background-image: url('../header_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:380px;
    top:40px;
    width:100px;
    height:30px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:380px;
    top:40px;
    width:100px;
    height:30px
}

.u37_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u37_original {
    background-image: url('../header_files/u35_original.png');
}

.u37_container {
    position:absolute;
    left:480px;
    top:40px;
    width:100px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:480px;
    top:40px;
    width:100px;
    height:30px
}

.u39_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u39_original {
    background-image: url('../header_files/u35_original.png');
}

.u39_container {
    position:absolute;
    left:580px;
    top:40px;
    width:100px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:580px;
    top:40px;
    width:100px;
    height:30px
}

.u41_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u41_original {
    background-image: url('../header_files/u35_original.png');
}

.u41_container {
    position:absolute;
    left:680px;
    top:40px;
    width:100px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:680px;
    top:40px;
    width:100px;
    height:30px
}

.u43_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u43_original {
    background-image: url('../header_files/u35_original.png');
}

.u43_container {
    position:absolute;
    left:780px;
    top:40px;
    width:100px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:780px;
    top:40px;
    width:100px;
    height:30px
}

.u45_hover {
    background-image: url('../header_files/u35_hover.png');
}

.u45_original {
    background-image: url('../header_files/u35_original.png');
}

.u45_container {
    position:absolute;
    left:880px;
    top:40px;
    width:100px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:880px;
    top:40px;
    width:100px;
    height:30px
}

.u48_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u48_original {
    background-image: url('../header_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u49 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

.u51_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u51_original {
    background-image: url('../header_files/u48_original.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u52 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

.u54_hover {
    background-image: url('../header_files/u54_hover.png');
}

.u54_original {
    background-image: url('../header_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u55 {
    position:absolute;
    left:19px;
    top:8px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:30px
}

.u56_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u56_original {
    background-image: url('../header_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:30px;
    width:200px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u57 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:0px;
    top:30px;
    width:200px;
    height:50px
}

.u58_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u58_original {
    background-image: url('../header_files/u56_original.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:80px;
    width:200px;
    height:50px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u59 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:0px;
    top:80px;
    width:200px;
    height:50px
}

.u60_hover {
    background-image: url('../header_files/u54_hover.png');
}

.u60_original {
    background-image: url('../header_files/u54_original.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:130px;
    width:200px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u61 {
    position:absolute;
    left:19px;
    top:8px;
    width:170px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:0px;
    top:130px;
    width:200px;
    height:30px
}

.u62_hover {
    background-image: url('../header_files/u62_hover.png');
}

.u62_original {
    background-image: url('../header_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:160px;
    width:200px;
    height:60px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:66px;
}

.u63 {
    position:absolute;
    left:19px;
    top:8px;
    width:170px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:0px;
    top:160px;
    width:200px;
    height:60px
}

.u64_hover {
    background-image: url('../header_files/u56_hover.png');
}

.u64_original {
    background-image: url('../header_files/u56_original.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:220px;
    width:200px;
    height:50px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u65 {
    position:absolute;
    left:19px;
    top:10px;
    width:170px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:0px;
    top:220px;
    width:200px;
    height:50px
}

.u67_hover {
    background-image: url('../header_files/u48_hover.png');
}

.u67_original {
    background-image: url('../header_files/u48_original.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u68 {
    position:absolute;
    left:19px;
    top:8px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:30px
}

